*{
 
    color: orange;
}
/* ELEMENTO */
p{
    color: #222222;
    font-size: 16px;
}

div{
    height: 200px;
    width: 200px;
    margin-bottom:20px; 
    background: #bbb;
    padding: 20px;
}

/* ELEMENTO ELEMENTO */

/* div a{
    color: green;
    font-size: 16px;
} */


/* ELEMENTO, ELEMENTO (multiplus elementos, dentro de um elemento */

div p, div a{
    color: red;
}


/* CLASSE */

.btn-comprar{
    color: green;
}
/* ou */

a.btn-comprar{
    color: black;
} /*este é prioritário*/

/* ID */

#principal{
    width: 100px;;
}

/* Uma mesma "class" pode ser utlizada diversas vezes em elementos distintos, desde que necessitem de mesma formação. Contudo , os "id`s" só podem ser utilizados uma única vez. Caso seja necessário a utlização de outro id, deverá ser refenciado por outro nome.*/

/* PSEUDO-CLASS */

a{
    width: 100px;
    height: 20px;
   
    color: white;
}

a:hover{
    font-size: 18px;
    color: red;
}

a:visited{
    color:black;
    font-size: 20px;
}